<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jdktest.mapper.WorkerMapper">
    <select id="findAll" resultType="com.example.jdktest.entity.Worker">
        SELECT * FROM worker
    </select>
    <select id="findById" resultType="com.example.jdktest.entity.Worker" parameterType="Integer">
        SELECT * FROM worker where id = #{id}
    </select>
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM worker where id = #{id}
    </delete>
    <update id="update" parameterType="com.example.jdktest.entity.Worker">
        UPDATE worker set
        workerName = #{workerName},
        newWorker = #{newWorker},
        entryTime = #{entryTime}
        where id = #{id}
    </update>
    <insert id="add" parameterType="com.example.jdktest.entity.Worker" useGeneratedKeys="true" keyProperty="id">
        INSERT into worker (workerName,newWorker,entryTime)
        values (#{workerName},#{newWorker},#{entryTime})
    </insert>
</mapper>