<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo03nacosprovider.mapper.UserMapper" >
    <sql id="FIELDS">
        id,username,password,created_time
    </sql>
    <select id="selectByIds" resultType="com.example.demo03nacosprovider.entity.User">
        select
            <include refid="FIELDS"/>
        from user
        where id in
            <foreach collection="ids" item="id" separator="," open="(" close=")" index="">
                #{id}
            </foreach>
    </select>

</mapper>
